<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
	
	<select id = "selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE STATUS = 'Y'
	</select>
	
	<resultMap id="boardResultSet" type="Board">
		<result column="board_no" property="boardNo"/>
		<result column="board_title" property="boardTitle"/>
		<result column="board_writer" property="boardWriter"/>
		<result column="origin_name" property="originName"/>
		<result column="change_name" property="changeName"/>
		<result column="count" property="count"/>
		<result column="create_date" property="createDate"/>
	</resultMap>
	<select id="selectList" resultMap="boardResultSet">
		SELECT BOARD_NO, BOARD_TITLE, BOARD_WRITER, ORIGIN_NAME, CHANGE_NAME, COUNT, TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') "CREATE_DATE"
		FROM BOARD
		WHERE STATUS = 'Y'
		ORDER BY BOARD_NO DESC
	</select>
	
	<insert id = "insertBoard">
		INSERT INTO BOARD (BOARD_NO
							, BOARD_TITLE
							, BOARD_WRITER
							, ORIGIN_NAME
							, CHANGE_NAME
							, BOARD_CONTENT) 
						VALUES(SEQ_BNO.NEXTVAL
							, #{boardTitle}
							, #{boardWriter}
							, #{originName}
							, #{changeName}
							, #{boardContent})
	
	
	</insert>
	
	<resultMap id="boardDetailSet" type="Board">
		<result column="board_no" property="boardNo"/>
		<result column="board_title" property="boardTitle"/>
		<result column="board_writer" property="boardWriter"/>
		<result column="board_content" property="boardContent"/>
		<result column="origin_name" property="originName"/>
		<result column="change_name" property="changeName"/>
		<result column="count" property="count"/>
		<result column="create_date" property="createDate"/>
	</resultMap>
	<select id="selectBoard" resultMap="boardDetailSet">
		SELECT BOARD_NO
				, BOARD_TITLE
				, BOARD_WRITER
				, BOARD_CONTENT
				, ORIGIN_NAME
				, CHANGE_NAME
				, COUNT, TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') "CREATE_DATE"
		FROM BOARD
		WHERE STATUS = 'Y' AND BOARD_NO = #{boardNo}
		ORDER BY BOARD_NO DESC
	</select>
	
	<update id="increaseCount">
		UPDATE BOARD
			SET COUNT = COUNT + 1
		WHERE BOARD_NO = #{boardNo} AND STATUS = 'Y'
	</update>
	
	<update id="updateBoard">
		UPDATE BOARD
			SET BOARD_TITLE = #{boardTitle},
				ORIGIN_NAME = #{originName},
				CHANGE_NAME = #{changeName},
				BOARD_CONTENT = #{boardContent}
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<update id="deleteBoard">
		UPDATE BOARD
			SET STATUS = 'N'
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	
	<resultMap id="replyResultSet" type="Reply">
		<result column="reply_content" property="replyContent"/>
		<result column="reply_writer" property="replyWriter"/>
		<result column="create_date" property="createDate"/>
	</resultMap>
	<select id = "selectReplyList" resultMap="replyResultSet">
		SELECT REPLY_CONTENT
				, REPLY_WRITER
				, TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') "CREATE_DATE"
		FROM REPLY
		WHERE REF_BNO = #{boardNo} AND STATUS = 'Y'
	</select>
	
</mapper>